@charset "UTF-8";

@font-face
{
    font-family: "notojp";
    src: url("font/NotoSansCJKjp-Regular.woff2");
    font-weight: 400;
}

html
{
    height: 100%;
}

body
{
    height: 100%;
    margin: 0;
    font-size: 0;
    font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","notojp";
}

.top
{
    display: flex;
    height: 100%;
}

.left-content
{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.control-menu
{
    width: 70px;
    background-color: var(--main-colour);
    transition: background-color .2s;
}

.equipbox-top
{
    flex: 1;
    overflow: auto;
}

/*-- class menu --*/
.class-menu
{
    display: flex;
    min-height: 50px;
    justify-content: flex-start;
    user-select: none;
}

.class-menu .side-triangle
{
    height: 50px;
    width: 7px;
    clip-path: polygon(100% 50%,0% 35%,0% 65%);
    background-color: var(--main-colour);
    transition: background-color .2s;
}

.class-holder
{
    flex: 1;
    padding-top: 3px;
}

.current-class
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}

.float-border
{
    height: 70%;
    border-left: 1px solid var(--main-colour);
    margin-left: 5px;
}

/*-- class button --*/
.class-button
{
    display: inline-block;
    margin: 0 2px 0 2px;
    cursor: pointer;
}

.class-button img
{
    padding-top: 9px;
}

.class-button div
{
    display: inline-block;
    vertical-align: top;
    font-size: 26px;
    padding-top: 5px;
    color: var(--main-colour);
    transition: text-shadow .3s;
}

.class-button:hover>div
{
    text-shadow: 0 0 5px #fff, 0 0 5px var(--main-colour);
}

.current-class .class-button:hover>div
{
    text-shadow: none;
}

/*-- control menu --*/
.control-menu>div
{
    font-size: 13px;
    color: white;
    text-align: center;
}

.control-menu .label-line
{
    width: 60%;
    border-top: 1px solid white;
    margin: auto;
}

.sort-button,.control-menu .label
{
    padding: 5px 0 5px 0;
}

.sort-button
{
    transition: background-color .2s,padding .2s;
    cursor: pointer;
    user-select: none;
}

.sort-button:hover,.mark-button:hover
{
    background-color: rgba(255,255,255,.23);
}

.sort-button.selected
{
    background-color: white;
    padding: 7px 0 7px 0;
    color: var(--main-colour);
    transition: color .2s;
}

.sort-button.selected::after
{
    content: "↑";
    padding-left: 3px;
}

.controlmenu-wrap.desc .sort-button.selected::after
{
    content: "↓";
}

.control-menu .upgrade-buttons .sort-button.selected::after
{
    content: "";
}

.spacer
{
    padding-top: 8px;
}

.mark-button
{
    width: 80%;
    margin: auto;
    border-width: 1px 1px 0 1px;
    border-color: white;
    border-style: solid;
    transition: background-color .2s;
    cursor: pointer;
    user-select: none;
}

.mark-button.selected
{
    background-color: white;
    color: var(--main-colour);
    transition: color .2s;
}

.mark-buttons .mark-button:first-of-type
{
    border-radius: 3px 3px 0 0;
}

.mark-buttons .mark-button:last-of-type
{
    border-bottom: 1px solid white;
    border-radius: 0 0 3px 3px;
}