.top.torp
{
    --main-colour: #3162ac;
}

.top.clgun
{
    --main-colour: #f5b200;
}

.top.ddgun
{
    --main-colour: #cf5b5d;
}

.top.cagun
{
    --main-colour: #c93e41;
}

.top.bbgun
{
    --main-colour: #bf252a;
}

.top.aagun
{
    --main-colour: #39c654;
}

.top.fighter
{
    --main-colour: #48b063;
}

.top.bomber
{
    --main-colour: #2780c2;
}

.top.dive
{
    --main-colour: #f16c6e;
}