.equip-boxes.hidden
{
    display: none;
}

/*-- equip box --*/
.equip-box
{
    display: inline-block;
    margin: 20px;
    color: var(--main-colour,black);
    text-align: center;
}

/*-- image circlfe section --*/
.equip-box .img-hold
{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--main-colour);
}

.equip-box .img-hold>div
{
    display: flex;
    justify-content: center;
}

.img-hold .top-img
{
    height: 71%;
    align-items: flex-end;
}

.top-img img
{
    width: 60px;
}

.img-hold .bot-imgs
{
    height: 29%;
    align-items: center;
}

.bot-imgs .icon
{
    width: 30px;
}

/*-- stats section --*/
.info .name
{
    font-size: 20px;
    line-height: 1.2;
    margin: 8px 0 9px 0;
}

.info .divider
{
    display: inline-block;
    width: 55%;
    border-bottom: 3px dashed var(--main-colour);
}

.stats
{
    width: 160px;
    margin: auto;
    padding-top: 9px;
}

.stat-box
{
    display: inline-block;
    width: 80px;
    min-height: 40px;
    vertical-align: top;
}

.stat-box .label
{
    font-size: 9px;
    height: 8.5px;
}

.stat-box .stat
{
    font-size: 18px;
}

.stat-box .plane-weapon
{
    font-size: 7px;
}

/*-- stats section dive/torpbomber special mods --*/
.equip-box.dive .weapon-box,.equip-box.bomber .weapon-box
{
    width: 100%;
}

.equip-box.dive .plane-weapon,.equip-box.bomber .plane-weapon
{
    font-size: 10px;
}

.equip-box.marked .img-hold
{
    box-shadow: inset 0px 0px 0px 1px var(--main-colour), inset 0px 0px 0px 7px white;
}