.equip-box.torp
{
    color: #3162ac;
}

.torp .img-hold
{
    background-color: #3162ac;
}

.torp .info .divider
{
    border-color: #3162ac;
}

.equip-box.clgun
{
    color: #f5b200;
}

.clgun .img-hold
{
    background-color: #f5b200;
}

.clgun .info .divider
{
    border-color: #f5b200;
}

.equip-box.ddgun
{
    color: #cf5b5d;
}

.ddgun .img-hold
{
    background-color: #cf5b5d;
}

.ddgun .info .divider
{
    border-color: #cf5b5d;
}

.equip-box.cagun
{
    color: #c93e41;
}

.cagun .img-hold
{
    background-color: #c93e41;
}

.cagun .info .divider
{
    border-color: #c93e41;
}

.equip-box.bbgun
{
    color: #bf252a;
}

.bbgun .img-hold
{
    background-color: #bf252a;
}

.bbgun .info .divider
{
    border-color: #bf252a;
}

.equip-box.aagun
{
    color: #39c654;
}

.aagun .img-hold
{
    background-color: #39c654;
}

.aagun .info .divider
{
    border-color: #39c654;
}

.equip-box.fighter
{
    color: #48b063;
}

.fighter .img-hold
{
    background-color: #48b063;
}

.fighter .info .divider
{
    border-color: #48b063;
}

.equip-box.bomber
{
    color: #2780c2;
}

.bomber .img-hold
{
    background-color: #2780c2;
}

.bomber .info .divider
{
    border-color: #2780c2;
}

.equip-box.dive
{
    color: #f16c6e;
}

.dive .img-hold
{
    background-color: #f16c6e;
}

.dive .info .divider
{
    border-color: #f16c6e;
}