@charset "UTF-8";

@font-face
{
    font-family: "notojp";
    src: url("font/NotoSansCJKjp-Regular.woff2");
    font-weight: 400;
}

html
{
    height: 100%;
}

body
{
    height: 100%;
    margin: 0;
    font-size: 0;
    font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","notojp";
}

.top
{
    display: flex;
    height: 100%;
}

.left-content
{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.control-menu
{
    width: 70px;
}

.equipbox-top
{
    flex: 1;
    overflow: auto;
}

/*-- class menu --*/
.class-menu
{
    display: flex;
    min-height: 50px;
    justify-content: flex-end;
    text-align: right;
}

.class-menu .side-triangle
{
    height: 50px;
    width: 7px;
    clip-path: polygon(0% 50%,100% 35%,100% 65%);
    margin-left: 6px;
}

.class-holder
{
    flex: 1;
}

.current-class
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
}

.float-border
{
    height: 70%;
    border-left: 1px solid;
}

/*-- class button --*/
.class-button
{
    display: inline-block;
    margin: 0 2px 0 2px;
    cursor: pointer;
}

.class-button img
{
    padding-top: 9px;
}

.class-button div
{
    display: inline-block;
    vertical-align: top;
    font-size: 26px;
    padding-top: 5px;
}

/*--temporary colour css --*/
.top.dd-gun .control-menu,.top.dd-gun .side-triangle
{
    background-color: #cf5b5d;
}

.class-button.dd-gun div
{
    color: #cf5b5d;
}

.current-class.dd-gun .float-border
{
    border-color: #cf5b5d;
}